@using firstasp.Models;
@model IEnumerable<ArticleTable>;

<main id="main">

    <section id="search-result" class="search-result">
        <div class="container" id="@ViewBag.key">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>@ViewBag.key</h2>
                    @{
                        string user_name = User.Identity.Name;
                        if (user_name != null)
                        {
                            <a class="btn btn-primary align-items-end" href="~/Category/Poster?key=@ViewBag.key">發表文章</a>
                        }
                    }
                </div>
                @foreach (ArticleTable data in Model)
                {
                    <div class="d-md-flex post-entry-2 small-img">
                        <a href="~/Category/Single_post?poster=@data.UserId&&title=@data.ArticleTitle&&category=@data.ArticleCategory" class="me-4 thumbnail">
                            <img src="~/images/User/@data.UserId/@data.PhotoName" alt="@data.ArticleTitle" class="img-fluid">
                        </a>
                        <div>
                            <div class="post-meta">
                                <span class="date">發布者： @data.UserId</span> <span class="mx-1">&bullet;</span> <span>@data.ArticleDate</span>
                            </div>
                            <h3><a href="~/Category/Single_post?poster=@data.UserId&&title=@data.ArticleTitle&&category=@data.ArticleCategory">@data.ArticleTitle</a></h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</main>